# Gradle
.gradle/
build/
**/build/

# Kotlin / KMP
.kotlin/

# IDEs
.idea/
*.iml
*.iws
*.ipr
out/
.project
.classpath
.settings/
.vscode/

# Local configuration
local.properties

# Android
.navigation/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aar
*.ap_
*.dex
*.class

# macOS / iOS
.DS_Store
*.xcworkspace/
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# JS / Web
node_modules/
.web/
dist/

# Logs
*.log

# Temporary
tmp/
*.tmp
