
*.aar
# Android
*.ap_
*.apk
**/build/
build/
captures/
*.class
.classpath
.cxx/
*.dex
dist/
.DS_Store
.externalNativeBuild/
.gradle/
# Gradle
.idea/
# IDEs
*.iml
*.ipr
*.iws
# JS / Web
.kotlin/
# Kotlin / KMP
# Local configuration
local.properties
*.log
# Logs
# macOS / iOS
.navigation/
node_modules/
out/
.project
.settings/
# Temporary
*.tmp
tmp/
.vscode/
.vscode/.vscode/
.web/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/project.xcworkspace/
!*.xcodeproj/xcshareddata/
**/xcshareddata/WorkspaceSettings.xcsettings
xcuserdata/
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
